<p>
    Добрый день, {{name}}!</p>
<p>
    К сожалению, ваш счет на пополнение аккаунта {{systems}} был аннулирован. <br/>
    Если данное действие произошло ошибочно, то, пожалуйста, свяжитесь с менеджером платформы.<br/>
    С уважением, команда Wunder Pay.
</p>