<p>Добрый день, {{ name }}!</p>
<p>Ваши данные прошли валидацию. Теперь вы можете войти в свой личный кабинет.<br/>
Ваш логин: {{ login }} <br />
Ваш пароль: {{ password }}<br />
С уважением, команда Wunder Pay.
</p>
