<p>Добрый день, {{ name }}!</p>
<p>Благодарим Вас за регистрацию в системе Wunder Pay.<br />
    Для получения доступа к личному кабинету необходимо завершить процедуру регистрации: {{link}}<br/>
    Если у вас есть вопросы по услуге, то свяжитесь с нами.<br />
    С уважением, команда Wunder Pay.
</p>